"""
Contains functions used for cleaning data.

Each function in this module that is decorated with the cleaner decorator will
be added to the list of cleaners that can be used in the data cleaning.

The options you set in the decorator will be used to determine how the function
is used in the data cleaning process.

Please refer to the documentation for more information on how to use the
cleaner decorator.
"""

from data_cleaning_framework import cleaner
