[tool.poetry]
name = "{{project_name}}"
version = "{{version}}"
description = "{{description}}"
authors = ["{{author}} <{{email}}>"]
packages = [
    { include = "*", from = "{{src_directory}} }
]

[tool.poetry.dependencies]
python = ">=3.9,<3.13"
"data-cleaning-framework" = "{{dcf_version}}"
