[tool.poetry]
name = "{{config.project_name}}"
version = "{{config.version}}"
description = "{{config.description}}"
authors = ["{{config.author}} <{{config.email}}>"]
packages = [
    { include = "*", from = "{{config.src_directory}} }
]

[tool.poetry.dependencies]
python = ">=3.9,<3.13"
"data-cleaning-framework" = "{{config.dcf_version}}"
