"""Basic setup.py file for the data_cleaning_framework template."""

from setuptools import setup

setup(
    name="{{config.project_name}}",
    version="{{config.version}}",
    description="{{config.description}}",
    author="{{config.author}} <{{config.email}}>",
    # make everything in the src/ directory available to import
    package_dir={"": "{{config.src_directory}}"},
    install_requires=["data-cleaning-framework=={{config.dcf_version}}"]
)
